<a href="https://colab.research.google.com/github/HYUNSOOLEE-6839/TIL/blob/main/%EC%95%84%EC%9D%B4%EB%A6%AC%EC%8A%A4_%ED%92%88%EC%A2%85_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 아이리스 품종 예측하기
### 1) 데이터 로딩 후 데이터 확인

In [5]:
from sklearn.datasets import load_iris
import pandas as pd

In [6]:
iris = load_iris()

In [7]:
iris_data = iris.data   # X data, feature
iris_data.shape

(150, 4)

In [8]:
iris_label = iris.target   # y data, label, class
iris_label.shape

(150,)

In [9]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [10]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [11]:
# Iris data => DataFrame으로 변환
iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)
iris_df['label'] = iris_label
iris_df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  label
0                5.1               3.5  ...               0.2      0
1                4.9               3.0  ...               0.2      0
2                4.7               3.2  ...               0.2      0
3                4.6               3.1  ...               0.2      0
4                5.0               3.6  ...               0.2      0

[5 rows x 5 columns]

In [12]:
# 기초 통계량
iris_df.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)       label
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

In [13]:
iris_df.info

<bound method DataFrame.info of      sepal length (cm)  sepal width (cm)  ...  petal width (cm)  label
0                  5.1               3.5  ...               0.2      0
1                  4.9               3.0  ...               0.2      0
2                  4.7               3.2  ...               0.2      0
3                  4.6               3.1  ...               0.2      0
4                  5.0               3.6  ...               0.2      0
..                 ...               ...  ...               ...    ...
145                6.7               3.0  ...               2.3      2
146                6.3               2.5  ...               1.9      2
147                6.5               3.0  ...               2.0      2
148                6.2               3.4  ...               2.3      2
149                5.9               3.0  ...               1.8      2

[150 rows x 5 columns]>

### 2) 학습용 데이터와 테스트용 데이터 분리

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(
    iris_data, iris_label, test_size=0.2, random_state=2021
)

In [16]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((120, 4), (30, 4), (120,), (30,))

# Decision Tree(결정 트리) Algorithm
### 3) 머신러닝 알고리즘을 적용해 학습

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
# 객체 생성 --> 모델 생성
dt_clf = DecisionTreeClassifier(random_state=11)

In [19]:
# 학습 수행
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=11, splitter='best')

### 4) 학습된 모델을 기반으로 테스트 데이터에 대해 예측 수행

In [20]:
pred = dt_clf.predict(X_test)

### 5) 예측값과 실제값을 비교해 머신러닝 모델의 성능을 평가

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
# 정확도 평가
score = accuracy_score(y_test, pred)
print(f'예측정확도: {round(score, 4)}')

예측정확도: 0.9333

#Support Vector Machine Algorithm
### 3) 머신러닝 알고리즘을 적용해 학습

In [23]:
from sklearn.svm import SVC
sv_clf = SVC(random_state=11)

In [24]:
sv_clf.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=11, shrinking=True, tol=0.001,
    verbose=False)

### 4) 학습된 모델을 기반으로 테스트 데이터에 대해 예측 수행

In [25]:
# 예측값
pred = sv_clf.predict(X_test)

### 5) 예측값과 실제값을 비교해 머신러닝 모델의 성능을 평가

In [26]:
# 정확도 평가
score = accuracy_score(y_test, pred)
print(f'예측정확도: {round(score, 4)}')

예측정확도: 1.0