# 문자열 연산

In [2]:
print('내 이름은 ' + '이현수' + '입니다.')

내 이름은 이현수입니다.

In [3]:
print('*' * 10)

**********

### 숫자를 문자열로 바꾸기
##### 숫자를 문자열과 더하려면 숫자를 문자열 자료형으로 바꾸어야함.

In [5]:
n = 10
print('별표 ' + str(n) + '번 출력' )
print('*' * n)

별표 10번 출력
**********

### 변수에 문자열 넣기

In [6]:
name = '이현수'
print('내 이름은 ' + name + '입니다.')

내 이름은 이현수입니다.

### 문자열 치환

In [8]:
"word with space".replace(" ", "")

'wordwithspace'

# 문자열 형식화
### % 기호
### format 메서드
### f 문자열

### 1) % 기호를 사용한 문자열 형식화
- 문자열 뒤에 % 기호를 붙이고 그 뒤에 다른 값을 붙이면  뒤에 붙은 값이 문자열 안으로 들어간다.
- "문자열" % 값

- %s : 문자열
- %d : 정수
- %f : 부동소수점 실수

In [9]:
"내 이름은 %s입니다." % "이현수"

'내 이름은 이현수입니다.'

In [10]:
"나는 %d살 입니다." % 26

'나는 26살 입니다.'

In [11]:
"%d 곱하기 %d은 %d이다." %(2, 3, 6)

'2 곱하기 3은 6이다.'

### 고급 형식지정 문자열
- %20s : 전체 20칸을 차지하는 문자열(공백을 앞에 붙인다)
- %-10d : 전체 10칸을 차지하는 숫자(공백을 뒤에 붙인다)
- %.5f : 부동소수점의 소수점 아래 5자리까지 표시

In [12]:
"[%20s]" % "*"   # [와 ] 사이에 20칸의 공백이 있다.

'[                   *]'

In [13]:
"[%-20s]" % "A"  # 20칸의 공백의 앞쪽에 A를 출력한다.

'[A                   ]'

In [14]:
"[%20d]" % 123  # 20칸의 공백의 뒷쪽에 123을 출력한다.

'[                 123]'

In [15]:
x = 1 / 3.0  # 값은 0.3333333....
"%.5f" % x   # 소숫점 아래 5자리까지만 인쇄한다.

'0.33333'

In [16]:
"[%-20.6f]" % x  # 20칸의 공백의 앞쪽에 소숫점 아래 6자리 출력

'[0.333333            ]'

### 2) format 메서드를 사용한 문자열 형식화

In [17]:
"내 이름은 {}입니다.".format("이현수")

'내 이름은 이현수입니다.'

In [18]:
"{a}점수: {x}점, {b}점수: {y}점".format(a='영어', b='수학', x='100', y='90')

'영어점수: 100점, 수학점수: 90점'

### 형식지정 문자열
- {:>10} : 전체 10칸을 차지하며 공백을 앞에 붙임 (문자열을 오른쪽에 붙여서 출력)
- {:<10} : 전체 10칸을 차지하며 공백을 뒤에 붙임 (문자열을 왼쪽에 붙여서 출력)
- {:^10} : 전체 10칸을 차지하며 공백을 앞뒤에 붙임 (문자열을 중앙에 붙여서 출력)
- {:.5f} : 부동소수점의 소수점 아래 5자리까지 표시
- {:,} : 천단위 쉼표 표시

In [19]:
"[{:20,}]".format(1234567890)

'[       1,234,567,890]'

In [20]:
"[{:-<20}]".format("*")

'[*-------------------]'

In [21]:
"[{:-^20}]".format("*")

'[---------*----------]'

In [22]:
x = [10, 11, 12]
" 리스트의 첫번째 원소 = {0[0]}".format(x)

' 리스트의 첫번째 원소 = 10'

In [23]:
y = {"a": 10, "b":11, "c":12}
"사전의 a키 값={0[a]}".format(y)

'사전의 a키 값=10'

### f 문자열

In [24]:
name = "이현수"
age = 26
print(f"{name}의 나이는 {age}살이다.")

이현수의 나이는 26살이다.

In [27]:
number = 1234567890
f"[{number:-<15}]"

'[1234567890-----]'