# 파이썬 함수

- 숫자 x를 입력하면 두 배가 되도록 하는 함수

In [1]:
def twotimes(x):
    y = 2 * x
    return y

In [2]:
twotimes(2)

4

##### 짝수가 입력되면 짝수라는 문자열을, 홀수가 입력되면 홀수라는 문자열을 반환하는 함수

In [7]:
def hc(x):
    if x % 2 == 0:
        print('짝수')
    else:
        print('홀수')
    return x

In [11]:
hc(124217)

홀수

124217

#### 윤년 / 평년 구분 함수

In [33]:
def year(x):
    if (x % 4 == 0) & (x % 400 == 0):
        print('윤년')
    else:
        print('평년')

In [35]:
year(1900)

평년

### 입력이 여러 개인 함수

In [36]:
def add(x, y):
    return x+y

In [37]:
add(1, 2)

3

In [38]:
def sum(a, b, c):
    s = a + b + c
    return s

In [39]:
sum(1, 2, 3)

6

### 람다 함수
- 함수에 이름을 주지 않거나 코드를 짧게 줄여쓰는 방법
- 함수 자체를 다른 함수의 인수로 넣을 때, 함수의 출력값을 함수로 받을 때 사용

In [40]:
def f(x):
    return 2 * x

In [41]:
f = lambda x : 2 * x

In [42]:
f(2)

4

### 지역 변수
- 함수 안에서 만들어지고 사용되는 함수, 함수 바깥에서 사용 불가

In [44]:
def f(x):
    y = 10 * x
    print("y = ", y)
    return y

In [45]:
f(10)

y =  100

100

In [47]:
# y는 지역 변수이기 때문에 괄호 밖에서 사용 불가.
y

NameError: name 'y' is not defined

##### 3개의 숫자를 입력하면 “그 숫자들의 합”과 “
##### 그 숫자들을 제곱한 숫자들의 합”의 차이를 계산하는 함수

In [48]:
def sum(a, b, c):
    s = (a + b + c)**2 - (a + b + c)
    s >= 0
    return s

In [65]:
sum(20, -20, 80)

6320

### 전역변수
- 지역변수의 반대개념, 함수 안에서 사용 가능한 변수

In [53]:
z = 3
def f2(x):
    y = z * x
    print("y =", y)
    print("z =", z)
    return y

In [54]:
f2(10)

y = 30
z = 3

30

- 바깥의 변수와 같은 이름의 변수를 함수 안에 만들면 안 됨.
- 함수 안에서 함수 밖에 있는 변수의 값을 바꿔야한다면 함수 이름 앞에 global 선언.

In [55]:
z = 3
def f4(x):
    global z
    z = 99
    y = z * x
    print("y =", y)
    print("z =", z)
    return y

In [56]:
f4(10)

y = 990
z = 99

990

In [ ]:
m = 0
def diffsum(a, b, c):
    s = (a + b + c)**2 - (a + b + c)
    s >= 0
    return s