# 조건문 활용하기

### condition(조건문)
- 특정 조건을 만족하는 경우에만 수행할 작업이 있는 경우 사용
- 모든 조건은 boolean으로 표현 됨(예외는 있음.)
- if, elif, else 키워드 사용
- 조건문의 경우 if, elif, else 블록에 종속된 코드는 들여쓰기로 표현 가능
- 즉 아래 코드에서와 같이, 조건문 아래에 들여쓰기된 2줄의 코드만이 조건문의 조건에 따라 수행될 수도, 수행 되지 않을 수도 있는 코드라고 할 수 있음.
- 들여쓰기 된 코드를 블록(block), 또는 코드 블록이라고 함.
- python 에서 모든 블록의 시작점의 마지막에는 :(콜론, colon) 추가 필요.

In [5]:
if 6 >= 5:
    print('6 is greater than 5')
    print('Yeah, it is true')
print('This code is not belongs to if statements')

6 is greater than 5
Yeah, it is true
This code is not belongs to if statements

In [6]:
if 6 == 5:
    print('6 is greater than 5')
    print('Yeah, it is true')
print('This code is not belongs to if statements')

This code is not belongs to if statements

### Logical AND, OR, NOT
- 조건문에 사용되는 조건의 경우, boolean이기 때문에 논리식 AND,OR,NOT이 사용 가능.

### 논리표
- AND
    + T AND T : T
    + T AND F : F
    + F AND T : F
    + F AND F : F
- OR
    + T OR T : T
    + T OR F : T
    + F OR T : T
    + F OR F : F
- NOT
    + NOT T : F
    + NOT F : T
    
### 우선순위
    + NOT > AND > OR

In [7]:
a = 10
b = 8
c = 11

In [9]:
if a == 10 and b == 9 :
    print('that is true')
else:
    print('that is False')

that is False

In [10]:
if a == 10 or b == 9 :
    print('that is true')

that is true

### if, else

In [13]:
# 짝수인 경우에는 어떤 처리를 하고, 홀수인 경우에는 다른 처리를 해라.
a = 10
if a % 2 == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

짝수입니다.

In [15]:
# 짝수인 경우에는 2로 나눈 값을 출력하고, 홀수인 경우에는 1을 더한 값을 출력해라.
a = 11
if a % 2 == 0:
    print(a / 2)
else:
    print(a + 1)

12

### if , elif, else
- 조건이 여러 개인 경우 다음 조건을 elif 블록에 명시 가능
- 각 조건을 확인 후, True인 조건의 코드 블락을 실행한 후, 전체 if, elif, else 구문을 종료
- 조건문을 사용할 때, if 이후 n개 이상의 elif를 사용 가능하며, 0개 또는 1개의 else를 사용 가능.

In [16]:
a = 17
if a % 4 == 0:
    print('a is divisible by 4')
elif a % 4 == 1:
    print('a % 4 is 1')
elif a % 4 == 2:
    print('a % 4 is 2')
else:
    print('a % 4 is 3')

a % 4 is 1

### 중첩 조건문(nested condition)
- 조건문의 경우 중첩하여 작성 가능
- 중첩의 의미는 Depth(깊이)로 생각할 수 있으며, depth의 제한은 없음.

In [20]:
a = 10
b = 9
c = 8
if a == 10:
    if c == 8:
        if b == 8:
            print('a is 10 and b is 8')
        else:
            print('a is ten nor b is not 8')

a is ten nor b is not 8

# 반복문 활용하기

### loop (반복문)
- 반복적인 작업을 가능하게 해주는 도구
- 특정 조건을 만족하는 경우 수행할 수 있음(while)
- 리스트, 문자열, 튜플 등 컬렉션 타입의 아이템을 하나씩 순화하면서 사용 가능(for)
- 코드 작업에서, 가장 많이 사용하는 구문 중 하나
- 주의할 점 : while을 사용할 경우, 반복을 멈추게 하는 장치가 필요
    + 그렇지 않으면 셀이 무한히 수행되며, jupyter notebook의 재부팅이 필요.

### while 키워드
- while 뒤의 조건이 True일 경우, while 코드 블록을 계속 수행
- while 코드 블록
    + if와 마찬가지로 while문 아래의 들여쓰기로 작성된 부분을 의미
- 조건이 False가 되면 블록 수행을 멈추고 이후 코드를 실행

### while 키워드 이용하여 리스트의 아이템 출력하기

In [24]:
a = [1, 10, 9, 24, 215, 16, 116, 5, 8, 84, 452, 12]

i = 0 # 인덱스의 시작이 0이기 때문에
while i < len(a): # 참인 경우 수행, i가 +=를 통해 인덱스 값을 넘어가면 멈춤.
    print('value:', a[i], ', index: ', i)
    i += 1 # i가 0, 1, 2와 같은 식으로 증가함.

value: 1 , index:  0
value: 10 , index:  1
value: 9 , index:  2
value: 24 , index:  3
value: 215 , index:  4
value: 16 , index:  5
value: 116 , index:  6
value: 5 , index:  7
value: 8 , index:  8
value: 84 , index:  9
value: 452 , index:  10
value: 12 , index:  11

- 조건문과 함께 사용하기

In [28]:
a = [1, 10, 9, 24, 215, 16, 116, 5, 8, 84, 452, 12]

i = 0 
while i < len(a):
    if a[i] > 20: # 20보다 큰 경우만 출력하기
        print(a[i])
    i += 1 # if문 안에 두지 않는 이유는 참인 조건이 성립이 되지 않기 때문.

24
215
116
84
452

### 무한루프
- while의 경우 종료가 되지 않도록 코드를 작성하면 블록에서 빠져나올 수 없음.

### break
- loop를 중단할 때 사용
- 보통 조건문 안에서 수행되며, 조건을 만족하는 경우 loop를 탈출하기 위해 사용
- loop를 중단하는 경우, while 이후 코드를 수행

In [35]:
a = [1, 10, 9, 24, 25, 26]

i = 0
while i < len(a):
    if a[i] > 20:
        break # while 문이 끝나면서 바로 다음 코드로 넘어감.
        
    print(a[i])
    
    i += 1
    
print('hahaha')

1
10
9
hahaha

### continue
- break 처럼 반복을 중단하여 빠져나오지 않고, 다시 while 조건으로 점프함
- 특정한 경우에는 코드를 수행하지 않고 다음으로 건너뛰기 위해 사용

In [36]:
a = 7
while a > 0:
    a -= 1
    if a == 5:
        continue
    print(a)

6
4
3
2
1
0

In [43]:
### 1 - 100까지 더하기
num = 1
_sum = 0
while num <= 100:
    _sum += num
    num += 1 # num이 100이 된 상황에서는 101이 되므로 중단.
    print(_sum, num)
print(_sum, num)

1 2
3 3
6 4
10 5
15 6
21 7
28 8
36 9
45 10
55 11
66 12
78 13
91 14
105 15
120 16
136 17
153 18
171 19
190 20
210 21
231 22
253 23
276 24
300 25
325 26
351 27
378 28
406 29
435 30
465 31
496 32
528 33
561 34
595 35
630 36
666 37
703 38
741 39
780 40
820 41
861 42
903 43
946 44
990 45
1035 46
1081 47
1128 48
1176 49
1225 50
1275 51
1326 52
1378 53
1431 54
1485 55
1540 56
1596 57
1653 58
1711 59
1770 60
1830 61
1891 62
1953 63
2016 64
2080 65
2145 66
2211 67
2278 68
2346 69
2415 70
2485 71
2556 72
2628 73
2701 74
2775 75
2850 76
2926 77
3003 78
3081 79
3160 80
3240 81
3321 82
3403 83
3486 84
3570 85
3655 86
3741 87
3828 88
3916 89
4005 90
4095 91
4186 92
4278 93
4371 94
4465 95
4560 96
4656 97
4753 98
4851 99
4950 100
5050 101
5050 101

### for 반복문
- 리스트, 문자열 등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
- i는 매번 수행될 때 마다 a의 아이템으로 순차적으로 변경 됨
- 모든 아이템이 순회되면 for 블록 종료

In [44]:
a = [1, 2, 4, 3, 5]
for i in a:
    print(i, i * 2)

1 2
2 4
4 8
3 6
5 10

### 문자열의 아이템 출력하기
- 문자열의 경우 순회 가능, 리스트의 유사하게 순회 가능

In [45]:
a = 'hello world'
for character in a:
    print(character)

h
e
l
l
o

w
o
r
l
d

### 리스트의 아이템 출력하기

In [47]:
a = [1, 2, 3, 4, 5]
for i in a:
    if i % 2 == 0:
        print(i/2)
    else:
        print(i+1)

2
1.0
4
2.0
6

### dict의 아이템 출력하기
- dictionary의 경우 기본적으로 순회하게 되면 key 값을 참조
- keys()함수를 이용하여 key 값만 순회 가능
- values() 함수를 이용하여 value 값만 순회 가능
- items() 함수를 이용하여 tuple 형태로 key, value 순회 가능

In [48]:
a = {'korea':'seoul', 'japan':'tokyo', 'canada':'ottawa'}
for k in a:
    print(k, a[k])

korea seoul
japan tokyo
canada ottawa

In [49]:
for k in a:
    print(k)

korea
japan
canada

In [53]:
for value in a.values():
    print(value)

seoul
tokyo
ottawa

In [55]:
for values in a.items():
    print(values)

('korea', 'seoul')
('japan', 'tokyo')
('canada', 'ottawa')

In [58]:
list(a.items())

[('korea', 'seoul'), ('japan', 'tokyo'), ('canada', 'ottawa')]

In [56]:
for key, value in a.items():
    print(key, value)

korea seoul
japan tokyo
canada ottawa

### for에서 index 사용하기
- 기본적으로 for에 리스트를 순회하는 경우, 값만 추출함.
- 아래와 같은 코드로 인덱스와 값 모두 사용 가능(enumarate 함수 이용)

In [63]:
a = [1, 2, 4, 3, 5]
for index, num in enumerate(a): # enumarte를 이용해 index 추출
    if index > 3:
        print (index, num)

4 5

### loop 중첩
- 반복문의 경우에도 중첩하여 사용 가능
- 반복문 블록의 코드 안에 또 반복문의 코드가 작성되는 것을 의미
- 내부 루프는 외부 루프가 수행되는 만큼 반복 수행
- 중첩의 경우 무한히 가능

In [67]:
a = [1, 2, 4]
for i in a: # i가 1일 때, 2일 때, 4일 때
    for j in a: # j가 1일 때, 2일 때, 4일 때
        print (i*j)

1
2
4
2
4
8
4
8
16

- i1 * j1 -> i1 * j2 -> i1 * j3 -> i2 * j1 -> i2 * j2 ...의 형식으로 진행됨.

### 구구단 출력하기

In [71]:
a = [1,2,3,4,5,6,7,8,9]
b = [1,2,3,4,5,6,7,8,9]
for i in a:
    for j in b:
        print(i, 'x', j, '=', i*j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### range 함수
- 리스트를 쉽게 만들 수 있는 내장함수
- 주어진 값에 따라 다양한 결과를 반환

In [72]:
list(range(5))

[0, 1, 2, 3, 4]

In [84]:
# 5부터 100까지 5의 배수
list(range(5, 101, 5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [85]:
# 구구단 2단 - 9단
a = [2,2,3,4,5,6,7,8,9]
b = [1,2,3,4,5,6,7,8,9]
for i in a:
    for j in b:
        print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [97]:
# 1- 100까지 정수 중 2의 배수 또는 11의 배수 
nums = list(range(1, 101))
for x in nums:
    if x % 2 == 0 or x % 11 == 0:
        print(x)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [91]:
# a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]에서 최대값과 최소값
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
print(min(a), max(a))

1 99

In [104]:
# 처음 만나는 값을 최소 값으로 가정
# 그 후 숫자를 만날 때 마다 현재 최소값보다 그 숫자가 작으면 최소값을 업데이트
_min = a[0]
for x in a:
    if x < _min:
        _min = x
print(_min)

1

In [105]:
_max = a[0]
for x in a:
    if x > _max:
        _max = x
print(_max)

99

In [96]:
# a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]에서 평균
sum(a) / 13

37.0

In [109]:
# while
i = 0
_sum = 0
while i < len(a):
    _sum += a[i]
    i += 1
print(_sum / len(a))

37.0

In [110]:
# for
_sum = 0
for x in a:
    _sum += x
print(_sum / len(a))

37.0